@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(-24px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.subList{
    animation: fadeIn 1s;
}